.login-form {
  max-width: 250px;
  min-height: 320px;
  margin: auto;
  margin-top: 50px;
  gap: 10px;
  background-color: var(--dark-grey);
  border-radius: 12px;
  overflow: hidden;
}

.login-form p {
  text-align: center;
  color: var(--white-smoke);
  font-size: 24px;
  margin: 20px 0;
}

.login-form input {
  all: unset;
  margin: 0;
  padding: 10px;
  color: var(--white-smoke);
  width: calc(100% - 23px);
  border-bottom: 2px solid var(--white-smoke);
  transition: 100ms;
}

.login-form input:focus {
  border-bottom: 2px solid var(--yellow);
}

.login-form > a {
  display: block;
  width: 100%;
  text-align: end;
  color: var(--white-smoke);
  margin: 10px 0;
  padding: 0 10px;
}

.login-form button {
  display: block;
  width: 100%;
}

.action-container button {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: var(--yellow);
  color: var(--white-smoke);
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 300ms;
}

.action-container button:hover {
  background-color: var(--green);
}

.action-container button:disabled {
  background-color: lightgray;
}

.action-container a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--white-smoke);
  margin: 10px 0;
}

.error {
  color: red;
  text-align: center;
  font-size: 16px;
}
