.legal-header {
  margin: 30px auto;
  max-width: 600px;
  text-align: center;
}

.legal-header h1 {
  margin: 0;
  margin-bottom: 10px;
}

.legal-section {
  max-width: 1000px;
  margin: auto;
  padding: 0 30px;
}

.legal-section ul {
  margin-left: 50px;
}
